body {
  background: #f1f1f1;
}
.fullwrap {
  width: 1200px;
  height: 700px;
}
header{
  background: lightgray;
  height: 100px;
}
.head{
  line-height: 100px;
}
a {
  text-decoration: none;
  border-bottom: solid 1px lightgray;
  display: block;
  width: 200px;
  height: 25px;
}
aside {
  background: #c4f1ff;
  width: 200px;
  margin-left: 120px;
}
.main{
  width: 480px;
  display: inline-block;
}
.menu {
  width: 400px;
}
.fullwrap{
display: block;
margin-left: auto;
margin-right: auto;
}
.menu, .main, aside{
  float: left;
}
  @media screen and (max-width:1000px){
  a, header, aside{
    width: 480px;
  }
  .menu, .main, aside {
    display: block;
    float: none;
  }
  aside {
    margin-left: 0px;
  }
  a {
    height: 12px;
    font-size: 12px;
    padding-bottom: 3px;
  }
}
